@media (max-width: 800px) {
 #navbar {
  flex-direction: row;
  height: 20vh;
  width: 100vw;
 }
}

body {
 font-size: 20px;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 margin: 0 auto;
}
.flex {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 width: 100vw;
}
#navbar {
 position: fixed;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 width: 20vw;
 height: 100vh;
 
 border: 5px solid green;
}
#main-doc {
 border: 5px solid red;
}
.main-section {
 height: 100vh;
}
header {
 font-size: 30px bold;
}
