@media (max-width: 800px) {
 #navbar {
  flex-direction: row;
  height: 20vh;
  width: 100vw;
 }
}
body {
 display: grid;
 grid-template-rows: 100%;
 grid-template-columns: 80%;
 margin: 0 auto;
 width: 100vw;
 border: solid 5px red;
 justify-content: end;
}
#navbar {
 position: fixed;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 width: 20%;
 height: 100vh;
 border: 5px solid green;
 font-size: 20px;
}
#main-doc {
 border: 5px solid blue;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 margin-left: auto;
 width: 80vw;
}
.main-section {
 margin: 10 0 10 0;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
}
header {
 font: 30 bold;
 text-decoration: underline;
}
a {
 text-decoration: none;
 color: red;
}
a:hover {
 text-decoration: underline;
 color: black;
}
p {
 font: 15;
}
